body {
    background-color: #bbd7f2;
    font-family: "Cursive", sans-serif;
}

header {
    background-color: #95c5f5;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
}

img {
    max-width:50%;
    height:auto;
    display: block;
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
}

span {
    border: 2px solid black;
    border-color: #5564d9;
    padding:  0em 1em;
    border-radius: 10px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #1364d6;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: #1364d6;
}

/* visited link */
a:visited {
  color: #1364d6;
}

/* mouse over link */
a:hover {
  color: #73849e;
}

/* selected link */
a:active {
  color: #1364d6;
}

.centered {
  text-align: center;
}