@media only screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }
    nav {
        display: flex;
        flex-direction: row;
        margin:10px;
    }
    img.cover-image {
        max-width:auto;
        height: auto;
    }
    div.col-wrapper {
        display: flex;
        align-items: center;
    }
}

body {
    background-color: #c8eda4;
    font-family: "Cursive", sans-serif;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    float: left;
}

.bigButton{
    border-radius: 10px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: 50px;
    line-height: 1;
    color: black;
    background-color: lightgray;
    margin:4px;
}

.flashyText{
    font-size:120px;
    color: #f5cb42;
    text-align: center;
}

img {
    max-width:100%;
    height: auto;
    display: block;
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
}

span {
    border: 2px solid black;
    padding:  0em 1em;
    border-radius: 10px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #1364d6;
    background-color: #6ed4c9;
    margin:4px;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: #1364d6;
}

/* visited link */
a:visited {
  color: #1364d6;
}

/* mouse over link */
a:hover {
  color: #73849e;
}

/* selected link */
a:active {
  color: #1364d6;
}

.nav-col{
    display: flex;
    flex-direction: column;
    margin:10px;
    text-align: center;
}

.centered {
  text-align: center;
}
